body {
    background-color: #333;
}

.tab-style ul > li > a {
    background-color: #333;
    color:  #00e6e6;
    font-weight: bold;
    font-size: 15px;
}

.tab-style ul > li > a:hover {
    background-color:#009999;
    color: white;
}

.tab-style ul > li.active > a,
.tab-style ul > li.active > a:hover,
.tab-style ul > li.active > a:focus {
    background-color:#004d4d;
    color: white;
    font-weight: bold;
}

.navbar a
{
    color: white;
    text-decoration: none;
}

.navbar a:focus
{
    color: #009999
}
.dashbard-style 
{
    background-image: url("https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}


.img-thumbnail {

    height:200px;
    justify-content: center;

}

.thumbnail .caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.btn 
{
 
    padding: 10px;
    font-size: 12px;
    padding-top: 2px;
    text-align: center;
    transform: translateY(-10px);
    
}

.flexContainer
{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    align-items: flex-start;
    width: 100%;
    margin: 4px;
}      

.flexThumbnail
{
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: center;
    width: 32%;
    /* align-items: flex-start; */
    height: 450px;
    overflow: auto;
    margin: 3px;
    border:2px solid #009999;
}

@media screen and (max-width: 800px){
    .flexContainer{
        display: flex;
        width: 100%;
        flex-direction:  row wrap;
    }

    
.flexThumbnail
{
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    width: 47%;

    height: 450px;
    overflow: auto;
    margin: 4px;
}
}

@media screen and (max-width: 575px){
    .flexContainer{
   
        width: 100%;
        align-items: center;
        flex-direction: column;
    }


    .flexThumbnail
{
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    width: 95%;
    /* align-items: flex-start; */
    /* height: 420px; */
    /* overflow: auto; */
    /* margin: 4px; */
}
}