.frost-banner{
    background:white;
 
}
.title{
    color: white;
    font-weight: bold;
    font-size: 500%;
    stroke: 10px white;
    text-shadow:black 0 0 10px;
    opacity: 0%;
    /* top: 1%; 
    position: relative;*/
    transform: translateY(-50%); 
    position: fixed;
    
}
/*title at 75px and subtitle 26px*/
.subtitle{
    color:white;
    text-shadow: black 0 0 10px;
    font-size: 200%;
    opacity: 0%;
    position: relative;
    transform: translateY(10%);

    /* position: relative;
    top: 10%;
    transform: translateY(-260%); */

}

.main-container{
    height: 10%;
    width: 80%;
    padding-top: -10px;
    z-index: 50px;
    background-color: #4FA0D9;
}

.site-background{
    background: transparent;
   /*background: url("https://clip2art.com/images/sky-clipart-background-8.jpg");*/
    /* background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 20px;
    animation: float 4s infinite;
    z-index: 5;
    width: 100%;
    height: 100%; */
}

.carousel {
    position: absolute;
    top: 0;
    /* width: 100%;
    height: 50px; */
    /* background-size: cover; */
    z-index:-10; 
  }

.right.carousel-control, .left.carousel-control {
    opacity: 0;
}

.carousel-inner{
    height: 600px; 
    margin:auto; 
} 
/* 
.img-fluid{
    max-width: 100%;
    height: auto;
} */

.carousel-img{
    height: 656px;
    width: 100%;
} 

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #4FA0D9;
}
/* 
.img {
     background-size: cover;
     object-fit: cover;
} */

body{
    background-color: #337ab7;
}